<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: mediumseagreen">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">AGENT DASHBOARD</a>
    </div>
</nav>
<div class="container" style="margin-top: 70px">
    <div class="row">
        <form style="margin-left: 100px" method="post" action="/registerPollingAgent">
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label">Polling Station ID</label>
                <input type="text" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" style="width: 40%;" name="pollingNumber">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Agent Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1" aria-describedby="emailHelp" style="width: 40%;"name="name">
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Agent Number</label>
                <input type="text" class="form-control" id="number" aria-describedby="emailHelp" style="width: 40%;" name="number">
            </div>
            <div class="mb-3">
                <label for="town" class="form-label">Email</label>
                <input type="text" class="form-control" id="town" aria-describedby="emailHelp" style="width: 40%;" name="email">
            </div>
            <div class="mb-3">
                <label for="post" class="form-label">password</label>
                <input type="text" class="form-control" id="post" aria-describedby="emailHelp" style="width: 40%;" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>
<script  src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>