<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>verify otp</h1>
<form method="get" action="/votespage">
    <input type="text" class="form-control" id="MobileNumber" aria-describedby="emailHelp" style="width: 40%;" name="MobileNumber">
    <input type="text" class="form-control" id="OtpCode" aria-describedby="emailHelp" style="width: 40%;" name="OtpCode">
    <button type="submit" class="btn btn-primary">Next</button>
</form>
</body>
</html>